body {
    background-image: url('../img/rana-sawalha-364253-unsplash.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@font-face {
    font-family: 'Verdana';
    src: url(../fonts/Verdana-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Verdana';
    src: url(../fonts/Verdana.ttf);
    font-weight: normal;
}

.header-content {
    background-color: #00000041;
    padding-top: 17px;
    padding-bottom: 17px;
}

.header-content-container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.header-block-left {
    padding-left: 75px;
}

.header-block-right {
    padding-right: 75px;
}

.header-block-right-align-vertical {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-block-left-link {
    color: #fff;
    font-family: 'Verdana', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 21px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.header-block-left-link:hover {
    color: #3cb878;
    transition: color .3s;
}

.header-block-right-welcome-text {
    font-family: 'Verdana', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
    text-align: left;
}

.header-block-right-welcome-text-link-login,.header-block-right-welcome-text-link-signup {
    text-transform: capitalize;
    color: #3cb878;
    text-decoration: none;
}

.header-block-right-welcome-text-link-login:hover,.header-block-right-welcome-text-link-signup:hover {
    text-decoration: underline;
}

.header-block-right-welcome-text-icon-calendar {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-image: url("../img/journey_sprites.png");
    background-position: 0 0;
    margin-right: 28px;
}

.header-block-right-welcome-text-icon-calendar:hover {
    background-position: -29px 0;
}

.header-block-right-welcome-text-icon-forum {
    display: inline-block;
    width: 28px;
    height: 20px;
    background-image: url("../img/journey_sprites.png");
    background-position: -58px 0;
    margin-right: 28px;
}

.header-block-right-welcome-text-icon-forum:hover {
    background-position: -96px 0;
}

.header-block-right-welcome-text-icon-journey {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/journey_sprites.png");
    background-position: -134px 0;
    margin-right: 50px;
}

.header-block-right-welcome-text-icon-journey:hover {
    background-position: -164px 0;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 54px);
}

.section-login-window {
    width: 444px;
    height: 584px;
    margin: 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.section-login-window-container {
    width: 322px;
    margin: 0 auto;
}

.section-login-window-container-SignUpLogIn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.section-login-window-text-signup {
    font-family: 'Verdana', sans-serif;
    color: #434343;
    font-size: 20px;
    font-weight: normal;
    line-height: 21px;
    text-transform: capitalize;
    position: relative;
}

.section-login-window-text-signup-box-green {
    top: 2px;
    left: -61px;
    width: 18px;
    height: 18px;
    background-image: url("../img/journey_sprites.png");
    background-position: -194px 0;
    position: absolute;
}

.section-login-window-link-login {
    font-family: 'Verdana', sans-serif;
    color: #3cb878;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-transform: capitalize;
    text-decoration: none;
}

.section-login-window-link-login:hover {
    text-decoration: underline;
}

.section-login-window-SignIn-buttons-flex {
    display: flex;
    justify-content: space-between;
}

.btn {
    border-radius: 3px;
    width: 157px;
    height: 46px;
    border: none;
    font-family: 'Verdana', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 21px;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
}

.btn-facebook {
    background-color: #305db8;
}

.btn-facebook-icon {
    display: inline-block;
    width: 10px;
    height: 20px;
    margin: 0 20px;
    background-image: url("../img/journey_sprites.png");
    background-position: -222px 0;
    vertical-align: middle;
}

.btn-facebook:hover {
    background-color: #264b96;
}

.btn-google {
    background-color: #df4a32;

}

.btn-google-icon {
    display: inline-block;
    width: 25px;
    height: 16px;
    margin-left: 10px;
    margin-right: 25px;
    background-image: url("../img/journey_sprites.png");
    background-position: -242px 0;
    vertical-align: middle;
}

.btn-google:hover {
    background-color: #c3412c;
}

.section-login-window-line {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: #eaeaea;
    margin-top: 33px;
    margin-bottom: 18px;
}

.section-login-window-line::before {
    content: "";
    flex-grow: 1;
    background: #eaeaea;
    height: 1px;
    font-size: 0;
    line-height: 0;
    margin-right: 17px;
}

.section-login-window-line::after {
    content: "";
    flex-grow: 1;
    background: #eaeaea;
    height: 1px;
    font-size: 0;
    line-height: 0;
    margin-left: 18px;
}

.section-login-window-line-text {
    font-family: 'Verdana', sans-serif;
    color: #848484;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    flex-shrink: 0;
}

.section-login-window-input-field {
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    width: 100%;
    height: 46px;
    font-family: 'Verdana', sans-serif;
    color: #434343;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-align: left;
    margin-bottom: 9px;
    outline: none;
    box-sizing: border-box;
    padding-left: 19px;
}

.section-login-window-input-field::placeholder {
    color: #bebebe;
}

.section-login-window-input-field:focus {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}

.section-login-window-checkbox-link-terms:hover {
    text-decoration: underline;
}

.btn-create-account {
    width:  100%;
    background-color: #3aba78;
    text-align: center;
}

.btn-create-account:hover {
    background-color: #2f9b65;
}

.section-login-window-checkbox-text-agree {
}

.section-login-window-checkbox-link-terms {
    color: #3cb878;
    text-transform: capitalize;
    text-decoration: none;
}

.section-login-window-checkbox-container {
    display: block;
    position: relative;
    margin-top: 13px;
    margin-bottom: 28px;
    padding-left: 30px;
    cursor: pointer;
    font-family: 'Verdana', sans-serif;
    color: #434343;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-login-window-checkbox-container input {
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.section-login-windows-checkbox-custom {
    position: absolute;
    top: -4px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    color: blue;
    border-radius: 3px;
    border: 1px solid #ebebeb;
}

.section-login-window-checkbox-container:hover input ~ .section-login-windows-checkbox-custom {
    background-color: #ccc;
}

.section-login-window-checkbox-container input:checked ~ .section-login-windows-checkbox-custom {
    background-color: #fff;
}

.section-login-windows-checkbox-custom:after {
    content: "";
    position: absolute;
    display: none;
}

.section-login-window-checkbox-container input:checked ~ .section-login-windows-checkbox-custom:after {
    display: block;
}

.section-login-window-checkbox-container .section-login-windows-checkbox-custom:after {
    left: 5px;
    top: 1px;
    width: 7px;
    height: 12px;
    border: solid #3aba78;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
